h1 {
        font-family: 'Merriweather', serif;
        font-size: 48px;
      }
body {
        font-family: 'Inconsolata';
        font-size: 14;
      }


/*@media (max-width: 767px) {
	.header {
		margin-top:50px !important;
	}

	.header h1 {
		font-size:50px !important;
	}

	.work {
		margin-top:25px !important;
	}

	.work h3 {
		font-size:25px !important;
		text-align:center;
		margin-bottom:40px;
	}

	.contact h1 {
		margin-bottom:15px !important;
	}

	.contact h3 {
		font-size:25px !important;
		text-align:center;
		margin-bottom:15px;
	}
}



@media screen and (-webkit-min-device-pixel-ratio:0) {
    @font-face {
        font-family:si;
        src: url(assets/socicon.svg) format(svg);
    }
}

.soc {
    overflow:hidden;
    margin:0; padding:0;
    list-style:none;
}

.soc li {
    display:inline-block;
    *display:inline;
    zoom:1;
}

.soc li a {
    font-family:si!important;
    font-style:normal;
    font-weight:400;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    -ms-box-sizing:border-box;
    -o-box-sizing:border-box;
    box-sizing:border-box;
    overflow:hidden;
    text-decoration:none;
    text-align:center;
    display:block;
    position: relative;
    z-index: 1;
    width: 75px;
    height: 75px;
    line-height: 75px;
    font-size: 41px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    margin-right: 0px;
    color: #FF6664;
    background-color: #ffffff;
}

.soc-icon-last{
    margin:0 !important;
}

.soc-linkedin:before {
    content:'\e049';
}
.soc-medium:before {
    content:'\e06d';
}
.soc-github:before {
    content:'\e030';
}
.soc-twitter:before {
    content:'\e040';
}
.soc-facebook:before {
    content:'\e041';
}
.soc-instagram:before {
    content:'\e057';
}
.soc-vimeo:before {
    content:'\e052';
}
.soc-soundcloud:before {
    content:'\e04d';
}



body {
    padding-top: 70px;
/*    font-family: "sofia-pro", "Helvetica Neue", sans-serif;
*/    font-weight: 300;
    background-color: ##;
    opacity: 1;
    transition: 0.6s opacity;
    -webkit-opacity: 1;
    -webkit-transition: 0.6s opacity;
}

.header {
	margin-top:150px;
}

.header h1 {
  font-family: "brandon-grotesque";
  font-weight:900;
  font-size:60px;
  margin-bottom:30px;
}

.header p {
	font-family: "ff-meta-serif-web-pro";
	font-size:18px;
	line-height:30px;
}

.header h3 {
	margin-top:30px;
	font-family: "brandon-grotesque";
	font-size:15px;
	font-weight:700;
	color:#bfbfbf;
}

.header a {
	border-bottom:3px solid #FF6664;
	color:#333;
}

.header a:hover {
	text-decoration: none;
	cursor:pointer;
	border-bottom:4px solid #FF6664;
}

.work {
	margin-top:50px;
}

.work h1 {
  font-family: "brandon-grotesque";
  font-weight:900;
  font-size:25px;
  margin-bottom:0px;
}

.work p {
	font-family: "ff-meta-serif-web-pro";
	font-size:16px;
	line-height:25px;
}

.work h2 {
	font-family: "brandon-grotesque";
	font-size:18px;
	font-weight:700;
}

.work h3 {
	margin-top:30px;
	font-family: "brandon-grotesque";
	font-size:15px;
	font-weight:700;
	color:#bfbfbf;
}

.work h4 {
	font-family: "brandon-grotesque";
	font-size:15px;
	font-weight:700;
	margin-bottom:20px;
	margin-top:3px;
}

.work a {
	border-bottom:3px solid #FF6664;
	color:#333;
}

.work a:hover {
	text-decoration: none;
	cursor:pointer;
	border-bottom:4px solid #FF6664;
}

.work img {
	margin: 0px 0px 10px 0px;
}

.airbnb {
      border-radius: 3px;
    margin-bottom: 25px;
    transition: 0.4s;
    -webkit-transition: 0.4s;
}

.airbnb::after {
    z-index: -1;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    transition: opacity 0.3s ease-in-out;
}

.airbnb:hover{
  transform: scale(1.03, 1.03);
  -webkit-transform: scale(1.03, 1.03);
  background-color: #FF5A5F;
}

.airbnb:hover p {
  transition: 0.3s;
  -webkit-transition: 0.3s;
  color: #FFFFFF;
}

.airbnb:hover h3 {
  transition: 0.3s;
  -webkit-transition: 0.3s;
  color: #FFFFFF;
}

#btn {
	border: 0px;
}

#logo {
	margin-top:8px;
}

.contact {
	margin-top:50px;
}

.contact h1 {
  font-family: "brandon-grotesque";
  font-weight:900;
  font-size:60px;
  margin-bottom:30px;
}

.contact p {
	font-family: "ff-meta-serif-web-pro";
	font-size:18px;
	line-height:30px;
	margin-bottom:20px;
}

.contact h3 {
	margin-top:30px;
	font-family: "brandon-grotesque";
	font-size:15px;
	font-weight:700;
	color:#bfbfbf;
}

.contact h4 {
	font-family: "brandon-grotesque";
	font-size:16px;
	font-weight:700;
	margin-bottom:25px;
}

.contact a {
	border-bottom:3px solid #FF6664;
	color:#333;
}

/*.contact a:hover {
	text-decoration: none;
	cursor:pointer;
	border-bottom:4px solid #FF6664;
}*/


a {
  -webkit-transition: 0.2s;
  transition: 0.4 ease;
  color: #FF6664;
}

a.underlined {
  color: #FF6664;
}

a.underlined:hover {
  padding:9px;
}

a:active {
    text-decoration: none;
}

a:hover {
  color: #FFFFFF;
  padding: 4px;
  background: #FF6664;
  text-decoration: none;
}

a.index:hover {
  color: #FFFFFF;
  padding: 30px;
  background: #FF6664;
  text-decoration: none;
}

a.portfolio:hover {
  background: none;
  padding: none;
}

span.expand1 {
  display:none;
}

span.expand1:hover {
  display: inline;
}

span.expand2:hover {
  display:none;
}

.backbutton {
 font-weight: 700;
 position: fixed;
 top:5%;
 left:3%;
 font-size:1.2em;
}

.upbutton {
 font-weight: 700;
 font-size:1.6em;
 width: 100%;
}

.petra {
      border-radius: 3px;
    margin-bottom: 25px;
    transition: 0.4s;
    -webkit-transition: 0.4s;
}

.petra::after {
    z-index: -1;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    transition: opacity 0.3s ease-in-out;
}

.petra:hover{
  transform: scale(1.03, 1.03);
  -webkit-transform: scale(1.03, 1.03);
  background-color: #4FC3F7;
}

.petra:hover p {
  transition: 0.3s;
  -webkit-transition: 0.3s;
  color: #FFFFFF;
}

.petra:hover h3 {
  transition: 0.3s;
  -webkit-transition: 0.3s;
  color: #FFFFFF;
}

.gigster {
      border-radius: 3px;
    margin-bottom: 25px;
    transition: 0.4s;
    -webkit-transition: 0.4s;
}

.gigster::after {
    z-index: -1;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    transition: opacity 0.3s ease-in-out;
}

.gigster:hover{
  transform: scale(1.03, 1.03);
  -webkit-transform: scale(1.03, 1.03);
  background-color: #0378E6;
}

.gigster:hover p {
  transition: 0.3s;
  -webkit-transition: 0.3s;
  color: #FFFFFF;
}

.gigster:hover h3 {
  transition: 0.3s;
  -webkit-transition: 0.3s;
  color: #FFFFFF;
}

.airbnb {
      border-radius: 3px;
    margin-bottom: 25px;
    transition: 0.4s;
    -webkit-transition: 0.4s;
}

.airbnb::after {
    z-index: -1;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    transition: opacity 0.3s ease-in-out;
}

.airbnb:hover{
  transform: scale(1.03, 1.03);
  -webkit-transform: scale(1.03, 1.03);
  background-color: #FF5A5F;
}

.airbnb:hover p {
  transition: 0.3s;
  -webkit-transition: 0.3s;
  color: #FFFFFF;
}

.airbnb:hover h3 {
  transition: 0.3s;
  -webkit-transition: 0.3s;
  color: #FFFFFF;
}

.buildabear {
      border-radius: 3px;
    margin-bottom: 25px;
    transition: 0.4s;
    -webkit-transition: 0.4s;
}

.buildabear::after {
    z-index: -1;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    transition: opacity 0.3s ease-in-out;
}

.buildabear:hover{
  transform: scale(1.03, 1.03);
  -webkit-transform: scale(1.03, 1.03);
  background-color: #4291FF;
}

.buildabear:hover p {
  transition: 0.3s;
  -webkit-transition: 0.3s;
  color: #FFFFFF;
}

.buildabear:hover h3 {
  transition: 0.3s;
  -webkit-transition: 0.3s;
  color: #FFFFFF;
}

footer {
    margin: 50px 0;
}*/