
@font-face{
	font-family: 'Iconsolata';
	src: url(./fonts/Iconsolata/Iconsolata-Regular.tff) format("truetype");
}

@font-face{
	font-family: 'Merriweather';
	src: url(./fonts/Merriweather/Merriweather-BlackItalic.ttf) format("truetype");
}

h1 {
        font-family: 'Merriweather', sans-serif;
        font-size: 48px;

      
	}
h2 {
        font-family: 'Merriweather', sans-serif;
        font-size: 32px;
      }
body {
        font-family: 'Inconsolata', monospace;
        font-size: 14;
        text-align: center;

      }
footer {
        font-family: 'Inconsolata', monospace;
        font-size: 14;
      }

button {
  outline: none;
  height: 40px;
  text-align: center;
  width: 130px;
  border-radius: 40px;
  background: #fff;
  border: 2px solid #757575;
  color: #757575;
  letter-spacing: 1px;
  text-shadow: 0;
  font-size: 12px;
  font-weight: bold;
  cursor: pointer;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
  letter-spacing: 2px;
}

button:hover {
  color: white;
  background:#757575;
}

#inline{
display: inline-block; 
  top: 50%;
  left: 50%;

}

P#inline {
  top: 50%;
  left: 50%;

}

caption{
display: inline-block;
margin-bottom: 50px;
}


